// ====== colors ==========================
$primary: #022c55;
$secondary: #e8004d;
$text: #000;
$text-secondary: #fff;
$text-light: #fcc7d9;
$link: $primary;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

// border
$black: #000 !default;

$link-color: $primary;
$link-hover-color: $primary;
$link-visited-color: $primary;

// ======== setup ===================

$body-color: $black;
$border-radius: 2px;

// font
$font-family: "Roboto", sans-serif;
$font-family-btn: "Roboto", sans-serif;
$font-size-base: 0.85rem;
$line-hight: 1.25rem;

// navbar
$navbar-separator-color: #6e9dbe;
$navbar-nav-link-padding-x: 1rem !default;
$nav-link-padding-x: 0.75rem !default;
$nav-link-padding-y: 0.5rem !default;
$nav-link-color: $text !default;
$nav-link-hover-color: $text !default;

/* layout variables */
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 960px,
  xxl: 960px,
);
